menu-header {

  #grid-header {
    height: 59px;
  }

  #header-row {
    height: 100%;
  }

  #menu-icon {
    color: color($colors, medium-text);
    font-weight: 500;
    padding-left: 5px;
    font-size: 16px;
  }

  #back-button {
    font-size: 24px;
  }

  .logo-img {
    height: 50px;
    margin: auto;

  }
}
